$primary : #FDCB08;
$secondary : #001C5F;
$success : #28a745;
$info : #17a2b8;
$warning : #ffc107;
$danger : #dc3545;

$primary-font : "proxima-nova-condensed", sans-serif;
$secondary-font : "p22-freely", sans-serif;
$thirtiary-font : "amplitude", sans-serif;;
$gray : #57534E;
$gray-600 : #57534E;
