.post-archive {
    padding: 90px 20px;
    .container{
        .row{
            .header{
                margin-bottom: 65px;
                .grid{
                    display: grid;
                    grid-template-columns: 70% auto;
                    gap: 40px;
                    @media screen and (max-width: 768px) {
                        grid-template-columns: 1fr;
                        
                    }
                   
                }
                .archive-categories{
                    
                    .flex{
                        display: flex;
                        gap: 20px;
                        border-bottom: 1px solid var(--Gray-200, #EAECF0);
                        flex-wrap: wrap;
                        @media screen and (max-width: 768px) {
                            justify-content: center;
                            
                        }
                        .item{
                            &.active{
                                color: var(--Primary-500, #FDCB08);
                                /* Text md/Semibold */
                                border-bottom: 2px solid var(--Primary-500, #FDCB08);
                               
                            }
                            color: var(--Gray-500, #667085);
                            font-family: $primary-font;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 24px; /* 150% */
                            padding-bottom: 15px;
    
                        }
                    }
                }
                .filter-options{
                    display: flex;
                    justify-content: flex-end;
                    @media screen and (max-width: 768px) {
                        justify-content: center;
                        margin-bottom: 50px;
                        
                    }
                    select{
                        border-radius: 8px;
                        border: 1px solid var(--Gray-300, #D0D5DD);
                        background: var(--Base-White, #FFF);

                        /* Shadow/xs */
                        box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
                        display: flex;
                        padding: 10px 14px;
                        align-items: center;
                        gap: 8px;
                        align-self: stretch;
                        min-width: 290px;

                        color: var(--Gray-900, #101828);

                        /* Text md/Light */
                        font-family: $primary-font;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: 24px; /* 150% */
                    }
                }
            }
            .grid{
                display: grid;
                grid-template-columns: repeat(3,1fr);
                column-gap: 35px;
                row-gap: 50px;
                @media screen and (max-width:768px) {
                    grid-template-columns: 1fr;
                }
                &.posts{
                    .item{
                        .card{
                            .featured-image{
                                img{
                                    max-width: 100%;
                                    border-radius: 20px;
                                    // width: 418px;
                                    // height: 240px;
                                }
                            }
                            ._inner{
                                padding: 25px 0px;
                            }
                            .post-cat{
                                color: var(--Primary-500, #FDCB08);
                                text-align: left;
                                
                                /* Text sm/Semibold */
                                font-family: $primary-font;
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: 20px; /* 142.857% */
                            }
                            .post-title{
                                h2{
                                    color: var(--Gray-warm-900, #1C1917);

                                    /* Display xs/Bold */
                                    font-family: $thirtiary-font;
                                    font-size: 24px;
                                    font-style: normal;
                                    font-weight: 700;
                                    line-height: 32px; /* 133.333% */
                                }
                            }
                            .post-content{
                                p{
                                    color: var(--Gray-warm-600, #57534E);

                                    /* Text md/Regular */
                                    font-family: $primary-font;
                                    font-size: 16px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 24px; /* 150% */
                                }
                            }
                            .read-more{
                                display: flex;
                                align-items: center;
                                gap: 15px;
                                a{
                                    color: var(--Primary-500, #FDCB08);

                                    /* Text md/Semibold */
                                    font-family:$primary-font;
                                    font-size: 16px;
                                    font-style: normal;
                                    font-weight: 600;
                                    line-height: 24px; /* 150% */
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}