@font-face {
    font-family: 'Amplitude Condensed';
    src: local('Amplitude-Condensed-Bold'),
    url('../fonts/Amplitude-Condensed-Bold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  
  
  